Repository apache/grails-core, pull requests merged in 2024-08, with the labels that each got.

#13580 Revert "Temporary - Patch GROOVY_3_0_X until https://github.com/apach…
  .github/workflows/groovy-joint-workflow.yml
Labels: revert

#13535 apply license gradle plugin
  build.gradle
  gradle/dependency-licenses.gradle
Labels: relates-to: build

#13588 Remove http-builder in 7.0.0 build script
  build.gradle
Labels: maintenance, build

#13589 Update Groovy dependencies for Grails Shell
  grails-shell/build.gradle
Labels: maintenance, ci
