Repository apache/grails-core, pull requests merged in 2025-01, with the labels that each got.

#13953 Bump gradle plugin to 6.2.4 for grails 6.2.3 release
  grails-bom/plugins.properties
Labels: feature

#13972 Fixing issue with rxjava2/3 based Promise implementations not handling null
  grails-async/rxjava2/src/main/groovy/org/grails/async/factory/rxjava2/RxPromise.groovy
  grails-async/rxjava2/src/test/groovy/org/grails/async/factory/rxjava2/RxPromiseSpec.groovy
  grails-async/rxjava3/src/main/groovy/org/grails/async/factory/rxjava3/RxPromise.groovy
  grails-async/rxjava3/src/test/groovy/org/grails/async/factory/rxjava3/RxPromiseSpec.groovy
Labels: bug

#13975 #13552 Integrate `grails-testing-support` from grails/grails-testing-support into grails-core
  build.gradle
  dependabot/build.gradle
  gradle.properties
  grails-async/rxjava/build.gradle
  grails-async/rxjava2/build.gradle
  grails-async/rxjava3/build.gradle
  grails-bom/build.gradle
  grails-bom/plugins.properties
  grails-core/build.gradle
  grails-events/rxjava/build.gradle
  grails-events/rxjava2/build.gradle
  grails-events/rxjava3/build.gradle
  grails-plugin-databinding/build.gradle
  grails-plugin-rest/build.gradle
  grails-test-suite-base/build.gradle
  grails-test-suite-persistence/build.gradle
  grails-test-suite-uber/build.gradle
  grails-test-suite-web/build.gradle
  grails-test/build.gradle
  grails-testing-support/README.md
  grails-testing-support/build.gradle
  grails-testing-support/src/main/groovy/grails/testing/mixin/integration/Integration.groovy
  grails-testing-support/src/main/groovy/grails/testing/services/ServiceUnitTest.groovy
  grails-testing-support/src/main/groovy/grails/testing/spock/OnceBefore.groovy
  grails-testing-support/src/main/groovy/grails/testing/spock/RunOnce.groovy
  grails-testing-support/src/main/groovy/grails/testing/spring/AutowiredTest.groovy
  grails-testing-support/src/main/groovy/org/grails/compiler/injection/testing/IntegrationTestMixinTransformation.groovy
  grails-testing-support/src/main/groovy/org/grails/testing/GrailsApplicationBuilder.groovy
  grails-testing-support/src/main/groovy/org/grails/testing/GrailsUnitTest.groovy
  grails-testing-support/src/main/groovy/org/grails/testing/ParameterizedGrailsUnitTest.groovy
  grails-testing-support/src/main/groovy/org/grails/testing/context/junit4/GrailsJunit4ClassRunner.groovy
  grails-testing-support/src/main/groovy/org/grails/testing/context/junit4/GrailsTestConfiguration.java
  grails-testing-support/src/main/groovy/org/grails/testing/spock/AutowiredInterceptor.groovy
  grails-testing-support/src/main/groovy/org/grails/testing/spock/CleanupContextInterceptor.groovy
  grails-testing-support/src/main/groovy/org/grails/testing/spock/RunOnceExtension.groovy
  grails-testing-support/src/main/groovy/org/grails/testing/spock/RunOnceInterceptor.groovy
  grails-testing-support/src/main/groovy/org/grails/testing/spock/TestingSupportExtension.groovy
  grails-testing-support/src/main/resources/META-INF/services/org.spockframework.runtime.extension.IGlobalExtension
  grails-testing-support/src/test/groovy/grails/testing/spock/InherittedSpec.groovy
  grails-testing-support/src/test/groovy/grails/testing/spock/JUnitAnnotationSpec.groovy
  grails-testing-support/src/test/groovy/grails/testing/spock/OnceBeforeSpec.groovy
  grails-testing-support/src/test/groovy/grails/testing/spock/RunOnceSpec.groovy
  grails-web-common/build.gradle
  settings.gradle
Labels: maintenance, test

#13977 restore lines lost in merge conflict & run :grails-bom:dependabotBuild
  dependabot/build.gradle
  grails-bom/build.gradle
Labels: maintenance, build

#13985 Enhance `PollingConditions` usage in tests
  grails-async/core/src/test/groovy/grails/async/FutureTaskPromiseFactorySpec.groovy
  grails-async/core/src/test/groovy/grails/async/PromiseListSpec.groovy
  grails-async/core/src/test/groovy/grails/async/PromiseMapSpec.groovy
  grails-async/core/src/test/groovy/grails/async/PromiseSpec.groovy
  grails-async/core/src/test/groovy/grails/async/SynchronousPromiseFactorySpec.groovy
  grails-async/gpars/src/test/groovy/grails/async/GparsPromiseSpec.groovy
  grails-async/rxjava/src/test/groovy/org/grails/async/factory/rxjava/RxJavaPromiseListSpec.groovy
  grails-async/rxjava/src/test/groovy/org/grails/async/factory/rxjava/RxJavaPromiseMapSpec.groovy
  grails-async/rxjava/src/test/groovy/org/grails/async/factory/rxjava/RxJavaPromiseSpec.groovy
  grails-async/rxjava2/src/test/groovy/org/grails/async/factory/rxjava2/RxPromiseListSpec.groovy
  grails-async/rxjava2/src/test/groovy/org/grails/async/factory/rxjava2/RxPromiseSpec.groovy
  grails-async/rxjava3/src/test/groovy/org/grails/async/factory/rxjava3/RxPromiseListSpec.groovy
  grails-async/rxjava3/src/test/groovy/org/grails/async/factory/rxjava3/RxPromiseSpec.groovy
  grails-core/src/test/groovy/grails/boot/DevelopmentModeWatchSpec.groovy
  grails-events/gpars/src/test/groovy/org/grails/events/gpars/ActorEventBusSpec.groovy
  grails-events/rxjava/src/test/groovy/org/grails/events/rxjava/PublishSubscribeSpringSpec.groovy
  grails-events/transform/src/test/groovy/grails/events/annotation/PublishSubscribeSpringSpec.groovy
  grails-test-examples/async-events-pubsub-demo/src/integration-test/groovy/pubsub/demo/PubSubSpec.groovy
Labels: maintenance, test
